 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64755509-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="jumbotron" id="ficarmenor3">
  
	<fieldset>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12%" align="left"><img src="/default.png"></td>
        <td align="left"><div id="info">
    <legend id="riscosempadd"><h2><%= @user.name %> 

      <% if user_signed_in? %>
        <% if current_user.profile_name.to_str == @user.profile_name.to_str %>
        <%= link_to 'Fazer uma nova doação', new_post_path, :class => "btn btn-primary", :id => "msg" %> <a id="msg" class="btn btn-warning" href="<%= edit_user_registration_path %>">Editar conta</a>
        <% else %>
        <a  id="msg" data-placement="bottom" href="" data-sid="<%= current_user.id %>", data-rip="<%= @user.id %>" class="btn btn-success start-conversation">Enviar mensagem</a></h5>
        <% end %>
    <% else %>
        <button id="msg" class="btn btn-success" data-toggle="modal" data-target="#myModal3">Enviar mensagem</button>
    <% end %>

    </h2></legend>
    <h5>Perfil com animais e contatos de <strong><%= @user.name%></strong>.</h5>
    <h5><strong>Email: </strong><%= @user.email %></h5>
    </div></td>
      </tr>
    </table>
		
	</fieldset>
</div>

<div class="row">
  


<% if @posts %>
	<% @posts.each do |post| %>

    <div class="col-sm-6 col-md-4">
      <div class="jumbotron" id="quebragalho">
      <h4><strong><%= link_to post.name.upcase, post, :id => "nomeanimal" %></strong></h4>
      <% if post.image %>
      <%= image_tag post.image.url(:thumb), :class => "fotoperfil" %>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.profile_name.to_str == post.user.profile_name.to_str %>
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong><i class="fa fa-exclamation-circle fa-lg"></i></strong> Se seu animal ja foi doado clique em <strong>apagar</strong> para retirar o post, obrigado.
    </div>
            <h6><%= link_to ' Editar', edit_post_path(post), :class => "btn btn-xs btn-primary" %>  <%= link_to ' Apagar', post, method: :delete, data: { confirm: 'Você tem certeza de que quer apagar? Não tem como desfazer depois!' }, :class => "btn btn-xs btn-danger" %></h6>
        <% end %>
      <% end %>
       
       </div>
     </div>
    <% end %>
 
</div>
<% end %>

<% if @posts.count == 0 %>

<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h6>Nenhum animal para doação nesse perfil.</h6>
    </div>
<% end %>
 
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bem vindo!</h4>
      </div>
      <div class="modal-body">
        <h4>Você precisa primeiro se <%= link_to "Cadastrar", cadastrar_path%> ou <%= link_to "Logar", entrar_path%> para usar o Chat.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<% if user_signed_in? %>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-comments"></i> Mensagens <%= link_to "Atualizar", adotar_path, :method => :get, class: "btn btn-success btn-xs start-conversation" %></h3>
      </div>
      <div class="modal-body">
        
        <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("/default.png", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id, "data-toggle" => "modal", "data-target" => "#myModal2" %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p>> <%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                  <legend></legend>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>Nenhuma mensagem encontrada.</p>
      <% end %>

      </div>
    </div>
  </div>
</div>

<% end %>
