

<div class="jumbotron" id="ficarmenor">
<h3 id="entrar2">Editar informações :</h3>
</br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


  <div class="field">
    <%= f.input :email, :label => "Alterar email:" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <strong>Trocar de senha:</strong>
  <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Alterar senha
  </button>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <div class="field">
    <%= f.input :password, autocomplete: "off", label: "Nova senha:" %>
  </div>
  <div class="field">
  <%= f.input :password_confirmation, autocomplete: "off", label: "Confirmar nova senha:" %>
  </div>
    </div>
  </div>


  

  <div class="field">
  </br >

    <%= f.input :current_password, autocomplete: "off", label: "Senha atual:" %>
    <i>(Insira senha atual para salvar as mudanças.)</i>
  </br >
  </div>
</br >

  <div class="actions">
    <button type="submit" class="btn btn-primary btn-block">Salvar alterações</button>
  </div>
<% end %>


</br>
</div>
<h5 id="entrar"><strong>Precisa de ajuda? Contato: encontrepet.com@gmail.com</strong></h5>
