<div class="jumbotron" id="ficarmenor2">
<%= simple_form_for(@lost, html: {multipart: true}) do |f| %>
  <h3 id="entrar2">Informações do animal</h3>
</br >
  <div class="form-inputs">
    <%= f.input :name, label: "Nome do animal:" %>
    <%= f.input :animal, label: "Animal:", :as => :select, :collection => [['Cachorro', :Cachorro], ['Gato', :Gato], ['Outro', :Outro]] %>
    <%= f.input :gender, label: "Gênero:", :as => :select, :collection => [['Macho', :Macho], ['Fêmea', :Fêmea]], label: "Gênero :"  %>
    <%= f.input :size, label: "Tamanho:", :as => :select, :collection => [['Pequeno', :Pequeno], ['Médio', :Médio], ['Grande', :Grande]] %>
    <%= f.input :about, label: "Sobre:", placeholder: 'Descreva as características do animal e o local onde ocorreu o desaparecimento.' %>
    <div class="well">
<%= f.input :photo, as: :file, label: "Foto do animal:" %>
</div>
    <%= f.input :city, label: "Cidade:", placeholder: 'Cidade e Estado do desaparecimento' %>
    <%= f.input :bairro, label: "Bairro:", placeholder: 'Bairro do desaparecimento' %>
    <%= f.input :date, label: "Data do desaparecimento:" %>
    <%= f.input :phone, label: "Telefone:", placeholder: 'XX XXXX-XXXX' %>
    <%= f.input :another_phone, label: "Celular:", placeholder: 'XX XXXX-XXXX' %>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-lg btn-block" id="button" data-loading-text="Enviando..." autocomplete="off">Publicar</button>
    <%= link_to 'Cancelar', losts_path, :class => "btn btn-default btn-block", data: { confirm: 'Você tem certeza ?' } %>
  </div>
<% end %>
</div>