<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64755509-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">
<div class="col-md-6">
<div class="jumbotron" id="ficarmenor2">
<h2 id="entrar2"><%= @lost.name %></h2>
 </br >
  <% if @lost.photo %>
      <%= image_tag @lost.photo.url(:thumb), :id => "foto_ficha" %>
  <% end %> 
</br >
<legend>
 <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</legend>

<legend>
<h5>
  <strong>Dono:</strong>
  <%= link_to @lost.user.name, id_path(@lost.user.profile_name) %>
</h5>
</legend>

<legend>  
<h5>
  <strong>Local:</strong>
  <%= @lost.bairro %> - <%= @lost.city %>
</h5>
</legend>

<legend>
<h5>
  <strong>Data do desaparecimento:</strong>
  <%= @lost.date %>
</h5>
</legend>

<legend>  
<h5>
  <strong>Animal:</strong>
  <%= @lost.animal %>
</h5>
</legend>

<legend>
<h5>
  <strong>Gênero:</strong>
  <%= @lost.gender %>
</h5>
</legend>

<legend>
<h5>
  <strong>Idade:</strong>
  <%= @lost.size %>
</h5>
</legend>

<legend>
<h5>
  <strong>Informações:</strong>
  <%= @lost.about %>
</h5>
</legend>

 <legend>
<h5>
<strong>Foto:</strong>
 <%= lost_foto @lost %>
</h5>
</legend>

<div id="botaofinal">
<button type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#myModal">Contatos</button>
<%= link_to 'Voltar', losts_path, :class => "btn btn-default btn-block" %>
     
      <% if user_signed_in? %>
        <div class="footer">
          <span class="admin">
          <% if current_user.profile_name.to_str == @lost.user.profile_name.to_str %>
            <h6><%= link_to ' Editar', edit_lost_path(@lost), :class => "btn btn-xs btn-primary" %>  <%= link_to ' Apagar', @lost, method: :delete, data: { confirm: 'Você tem certeza de que quer apagar? Não tem como desfazer depois!' }, :class => "btn btn-xs btn-danger" %></h6>
          <% else %>
          <% end %>
          </span>
        </div> 
      <% else %>
      <% end %>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contatos dono(a) de <strong><%=  @lost.name %></strong> :</h4>
      </div>
      <div class="modal-body">
      <h5><strong>Telefone:</strong> <a href="tel:<%= @lost.phone %>"><%= @lost.phone %></a></h5>
      <h5><strong>Celular:</strong> <a href="tel:<%= @lost.another_phone %>"><%= @lost.another_phone %></a></h5>
      <h5><strong>E-mail:</strong> <a href="mailto:<%= @lost.user.email %>"><%= @lost.user.email %></a></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>

<div class="col-md-6">
  <div class="jumbotron" id="ficarmenor4">
    <h4 id="entrar3"><i class="fa fa-comments fa-lg"></i> COMENTÁRIOS</h4>

    <div class="fb-comments" data-href="<%= request.url %>" data-width="430" data-numposts="5"></div>

            

</div>
</div>
</div>
