<div class="jumbotron" id="ficarmenor2">	
<%= simple_form_for(@post, html: {multipart: true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
   
    </div>
  <% end %>

<h3 id="entrar2">Ficha do animal</h3>
</br >

<%= f.input :name, label: "Nome do animal:" %>

<%= f.input :age, label: "Idade :", placeholder: 'Exemplo: 5 meses'  %>

<%= f.input :animal, label: "Animal :", :as => :select, :collection => [['Cachorro', :Cachorro], ['Gato', :Gato], ['Outro', :Outro]]  %>

<%= f.input :gender, :as => :select, :collection => [['Macho', :Macho], ['Fêmea', :Fêmea]], label: "Gênero :" %>

<%= f.input :size, label: "Tamanho :", :as => :select, :collection => [['Pequeno', :Pequeno], ['Médio', :Médio], ['Grande', :Grande]]  %>

<%= f.input :castrado, label: "Castrado :", :as => :select, :collection => [['Sim', :Sim], ['Não', :Não]]  %>

<%= f.input :vacinado, label: "Vacinado :", :as => :select, :collection => [['Sim', :Sim], ['Não', :Não]]  %>

<%= f.input :about,label: "Descrição :", input_html: { rows: 4, class: 'input-xxlarge'}, placeholder: 'Escreva informações sobre o animal como cor, seu comportamento, onde foi encontrado e se foi desverminado.'  %>

<div class="well">
<%= f.input :image, as: :file, label: "Foto do animal :" %>
</div>


<h3 id="entrar2">Informações do doador</h3>
</br >

<%= f.input :cidade, label: "Cidade :", placeholder: 'Cidade e Estado', :as => :select, :collection => [['Curitiba - PR', :'Curitiba - PR'],

['Alagoas – Maceió', :'Alagoas – Maceió'],
['Amapá – Macapá', :'Amapá – Macapá'],
['Amazonas – Manaus', :'Amazonas – Manaus'],
['Bahia – Salvador', :'Bahia – Salvador'],
['Ceará – Fortaleza', :'Ceará – Fortaleza'],
['Distrito Federal – Brasília', :'Distrito Federal – Brasília'],
['Espírito Santo – Vitória', :'Espírito Santo – Vitória'],
['Goiás – Goiânia', :'Goiás – Goiânia'],
['Maranhão – São Luís', :'Maranhão – São Luís'],
['Mato Grosso – Cuiabá', :'Mato Grosso – Cuiabá'],
['Mato Grosso do Sul – Campo Grande', :'Mato Grosso do Sul – Campo Grande'],
['Minas Gerais – Belo Horizonte', :'Minas Gerais – Belo Horizonte'],
['Pará – Belém', :'Pará – Belém'],
['Paraíba – João Pessoa', :'Paraíba – João Pessoa'],
['Pernambuco – Recife', :'Pernambuco – Recife'],
['Piauí – Teresina', :'Piauí – Teresina'],
['Roraima – Boa Vista', :'Roraima – Boa Vista'],
['Rondônia – Porto Velho', :'Rondônia – Porto Velho'],
['Rio de Janeiro – Rio de Janeiro', :'Rio de Janeiro – Rio de Janeiro'],
['Rio Grande do Norte – Natal', :'Rio Grande do Norte – Natal'],
['Rio Grande do Sul – Porto Alegre', :'Rio Grande do Sul – Porto Alegre'],
['Santa Catarina – Florianópolis', :'Santa Catarina – Florianópolis'],
['São Paulo – São Paulo', :'São Paulo – São Paulo'],
['Sergipe – Aracaju', :'Sergipe – Aracaju'],
['Tocantins – Palmas', :'Tocantins – Palmas']] %>




<%= f.input :telefone, label: "Telefone :", placeholder: 'XX XXXX-XXXX'  %>

<%= f.input :celular, label: "Celular :", placeholder: 'XX XXXX-XXXX'  %>

<button type="submit" class="btn btn-success btn-lg btn-block" id="button" data-loading-text="Enviando..." autocomplete="off">Publicar</button>
<%= link_to 'Cancelar', posts_path, :class => "btn btn-default btn-block", data: { confirm: 'Você tem certeza ?' } %>



</div>
<% end %>
