<!-- Button trigger modal -->

<% if user_signed_in? %>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-comments"></i> Mensagens <%= link_to "Atualizar", adotar_path, :method => :get, class: "btn btn-success btn-xs start-conversation" %></h3>
      </div>
      <div class="modal-body">
        
        <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("/placeholder.png", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id, "data-toggle" => "modal", "data-target" => "#myModal2" %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p>> <%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                  <legend></legend>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>Nenhuma mensagem encontrada.</p>
      <% end %>

      </div>
    </div>
  </div>
</div>

<% end %>



</div>



<div id="menucima">

<h4 id="entrar5"><strong> <strong><a href="<%= adotar_path %>" class="btn btn-primary top active">ADOTAR</a></strong>
<a type="button" data-toggle="button" onclick="location.href='<%= losts_path %>';" class="btn btn-primary top" aria-pressed="false" autocomplete="off">PERDIDOS</a></strong></h4>

</div>
<div class="jumbotron" id="salve">
  <img id="logocom"src="encontrepet.png">
<div class="texto">

<div class="bs-example">
    <div class="row" id="papara">
      <div class="col-xs-6 col-md-3" id="sepa">
          <button class="thumbnail-primary">
          <h2 id="numeral"><strong>1</strong></h2>
          <img src="/primeiro1.png">
          <h4><strong id="entrar5">Resgate</strong></h4>
          <h5 id="entrar4">Salve um animal que esteja abandonado precisando de ajuda.</h5>
          </button>
      </div>
      <div class="col-xs-6 col-md-3" id="sepa">
          <button class="thumbnail-primary" onclick="location.href='<%= cadastrar_path %>';">
            <h2 id="numeral"><strong>2</strong></h2>
          <img src="/segundo2.png">
          <h4><strong id="entrar5">Cadastre-se</strong></h4>
          <h5 id="entrar4">Faça seu cadastro no Encontre Pet, é simples e rápido.</h5>
          </button>
      </div>
      <div class="col-xs-6 col-md-3" id="sepa" onclick="location.href='<%= new_post_path %>';">
          <button class="thumbnail-primary">
            <h2 id="numeral"><strong>3</strong></h2>
          <img src="/terceiro2.png" >
          <h4><strong id="entrar5">Crie um post</strong></h4>
          <h5 id="entrar4">Envie uma foto do animal e preencha a sua ficha.</h5>
          </button>
      </div>
      <div class="col-xs-6 col-md-3" id="sepa">
          <button class="thumbnail-primary">
            <h2 id="numeral"><strong>4</strong></h2>
          <img src="/quarto3.png">
          <h4><strong id="entrar5">Final feliz</strong></h4>
          <h5 id="entrar4">Aguarde e seu amigo vai encontrar uma nova família.</h5>
          </button>
      </div>

    </div>
  </div>


</div>
  </div>



<div id="mostrarfiltro">
<a type="button" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa fa-filter"></i>  Filtros
</a><strong>Selecionar opções de filtros.</strong>
</div>

<div class="collapse" id="collapseExample">
<div id="filtro">
<%= simple_form_for :post, :method => 'get', :url => "/", :html => {:class => 'form-inline'} do |f| %>


<%= f.input :starts_with, input_html: { name: 'starts_with', :value => params[:starts_with] }, label: ('Nome do animal:  '), :required => false %>
<%= f.input :gender, input_html: { name: 'gender', :value => params[:gender] }, label: ('Gênero:  '), :required => false, :as => :select, :collection => [['Macho', :Macho], ['Fêmea', :Fêmea]] %>
<%= f.input :animal, input_html: { name: 'animal', :value => params[:animal] }, label: ('Animal:  '), :required => false, :as => :select, :collection => [['Cachorro', :Cachorro], ['Gato', :Gato], ['Outro', :Outro]]  %>
<%= f.input :castrado, input_html: { name: 'castrado', :value => params[:castrado] }, label: ('Castrado:  '), :required => false, :as => :select, :collection => [['Sim', :Sim], ['Não', :Não]]  %>
<%= f.input :vacinado, input_html: { name: 'vacinado', :value => params[:vacinado] }, label: ('Vacinado:  '), :required => false, :as => :select, :collection => [['Sim', :Sim], ['Não', :Não]]  %>
<%= f.input :tamanho, input_html: { name: 'tamanho', :value => params[:tamanho] }, label: ('Tamanho:  '), :required => false, :as => :select, :collection => [['Pequeno', :Pequeno], ['Médio', :Médio], ['Grande', :Grande]]  %>

<button type="submit" class="btn btn-success">
  <i class="fa fa-filter"></i> Filtrar
</button>
</div>
</div>
<%end %>





<div class="container" id="cards">
<div class="row">

<div id="comodoar2">
<h5><strong>Animais para adoção:</strong></h5>
</div>


 
<% @posts.each do |post| %>
   <div class="col-sm-6 col-md-4">


    <div class="thumbnail" id="animal">
      <h2><%= post.name %></h2>
      
      <% if post.image %>
      <%= image_tag post.image.url(:thumb) %>
      <% end %>

      </br>
      
      <h4><%= post.animal %> | <%= post.gender %> | Porte <%= post.size %></h4>

      <div id="adotar_botao">

      <% if user_signed_in? %>
      <h5> <%= link_to "Ver informações", post , :class => "btn btn-success btn-lg", :id => "chatbot" %>  
        <a href="" data-sid="<%= current_user.id %>", data-rip="<%= post.user.id %>" class="btn btn-primary btn-lg start-conversation"><i class="fa fa-comments"></i></a></h5>
      <% else %>
      <h5> <%= link_to "Ver informações", post , :class => "btn btn-success btn-lg", :id => "chatbot" %>  
        <button class="btn btn-primary btn-lg start-conversation" data-toggle="modal" data-target="#myModal3"><i class="fa fa-comments"></i></button></h5>
      <% end %>


      </div> 

    <div class"final" id="cor">
       <legend></legend>   
       <h6><strong>Por <%= link_to post.user.name, id_path(post.user.profile_name) %> | <%= time_ago_in_words(post.created_at).capitalize + " ago." %></strong> </h6>
    </div>

</div>
 </div>
    <% end %>

 
</div>

<% if @posts.count == 0 %>
  <h4 id="entrar2"><strong>Nenhum animal encontrado.</strong></h4>
<% end %>

</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bem vindo!</h4>
      </div>
      <div class="modal-body">
        <h4>Você precisa primeiro se <%= link_to "Cadastrar", cadastrar_path%> ou <%= link_to "Logar", entrar_path%> para usar o Chat.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
