
<div class="col-md-3">

<div class="jumbotron" data-spy="affix" id="salve2">
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>PÁGINAS</strong></h6>
<button onclick="location.href='<%= adotar_path %>';" type="submit" class="btn btn-block btn-default active" id="msg2"><i class="fa fa-paw" id="i"></i> Adotar</button>
<button onclick="location.href='<%= losts_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-search" id="i3"></i> Animais perdidos</button>
<button onclick="location.href='<%= new_post_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-tag " id="i2"></i> Doar</button>


<% if user_signed_in? %>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>CONTA</strong></h6>
<button onclick="location.href='<%= id_path(current_user.profile_name) %>';" type="submit" class="btn btn-block btn-default" id="msg2"><i class="fa fa-user" id="i"></i> Meu perfil</button>
<button onclick="location.href='#';" type="submit" class="btn btn-block btn-default" id="msg2"  data-toggle="modal" data-target="#myModal2"><i class="fa fa-envelope" id="i22"></i> Mensagens</button>
<button onclick="location.href='<%= edit_user_registration_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-cog" id="i"></i> Editar minha conta</button>
<button onclick="location.href='<%= sair_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-sign-out" id="i3"></i> Sair</button>

<h6>Logado como <%= current_user.name %></h6>


<% else %>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>ENTRAR</strong></h6>
<div id="ladoentrar">
<%= simple_form_for(:user, :defaults => { :input_html => { :class => "form-control" } }, as: resource_name, url: session_path(:user)) do |f| %>
 

 <%= f.input :email, label: false, :placeholder => "seu@email.com" %>
 <%= f.input :password, label: false, :placeholder => "senha" %>
  <div class="actions">
    <button type="submit" class="btn btn-success btn-block btn-primary" id="msg">Entrar</button>
  </div>
 <h6><a href="/cadastrar">Criar uma conta</a></h6>
</div>

<% end %>
<% end %>

</div>

</div>





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64755509-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Button trigger modal -->

<% if user_signed_in? %>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-comments"></i> Mensagens <%= link_to "Atualizar", adotar_path, :method => :get, class: "btn btn-success btn-xs start-conversation" %></h3>
      </div>
      <div class="modal-body">
        
        <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("/default.png", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id, "data-toggle" => "modal", "data-target" => "#myModal2" %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p>> <%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                  <legend></legend>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>Nenhuma mensagem encontrada.</p>
      <% end %>

      </div>
    </div>
  </div>
</div>

<% end %>



<div class="col-md-9">


<div class="jumbotron" id="salve">
  <div id="comodoar">
    <h4><strong>Dica:</strong></h4>
  </div>
<div class="texto">
<div class="bs-example">
    <div class="row" id="papara">

          <a href="#" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

          <h2 id="numeral"><strong>1</strong></h2>
          <img src="/primeiro1.png">
          <h4><strong id="entrar5">Resgate</strong></h4>
          <h5 id="entrar4">Salve um animal que esteja abandonado</h5>
           </div>
          </a>
      
          <a href="<%= cadastrar_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>2</strong></h2>
          <img src="/segundo2.png">
          <h4><strong id="entrar5">Cadastre-se</strong></h4>
          <h5 id="entrar4">Faça seu cadastro no Encontrepet.com</h5>
           </div>
          </a>
    
          <a href="<%= new_post_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>3</strong></h2>
          <img src="/terceiro2.png" >
          <h4><strong id="entrar5">Crie um post</strong></h4>
          <h5 id="entrar4">Envie foto do animal, preencha a ficha</h5>
           </div>
          </a>
   
  
          <a href="#" class="thumbnail-primary">
                <div class="col-xs-6 col-md-3 sepa" id="sepa">
            <h2 id="numeral"><strong>4</strong></h2>
          <img src="/quarto3.png">
          <h4><strong id="entrar5">Final feliz</strong></h4>
          <h5 id="entrar4">Seu amigo vai encontrar uma família</h5>
           </div>
          </a>
     

    </div>
  </div>


</div>
  </div>




<div id="mostrarfiltro">
<a type="button" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa fa-filter"></i>  Filtros
</a><strong>Selecionar opções de filtros.</strong>
</div>

<div class="collapse" id="collapseExample">
<div id="filtro">
<%= simple_form_for :post, :method => 'get', :url => "/", :html => {:class => 'form-inline'} do |f| %>

<%= f.input :cidade, input_html: { name: 'cidade', :value => params[:cidade] }, label: ('Cidade:  '), :required => false, :as => :select, :collection => [['Todas', :''], ['Curitiba - PR', :'Curitiba - PR'],
['Alagoas – Maceió', :'Alagoas – Maceió'],
['Amapá – Macapá', :'Amapá – Macapá'],
['Amazonas – Manaus', :'Amazonas – Manaus'],
['Bahia – Salvador', :'Bahia – Salvador'],
['Ceará – Fortaleza', :'Ceará – Fortaleza'],
['Distrito Federal – Brasília', :'Distrito Federal – Brasília'],
['Espírito Santo – Vitória', :'Espírito Santo – Vitória'],
['Goiás – Goiânia', :'Goiás – Goiânia'],
['Maranhão – São Luís', :'Maranhão – São Luís'],
['Mato Grosso – Cuiabá', :'Mato Grosso – Cuiabá'],
['Mato Grosso do Sul – Campo Grande', :'Mato Grosso do Sul – Campo Grande'],
['Minas Gerais – Belo Horizonte', :'Minas Gerais – Belo Horizonte'],
['Pará – Belém', :'Pará – Belém'],
['Paraíba – João Pessoa', :'Paraíba – João Pessoa'],
['Pernambuco – Recife', :'Pernambuco – Recife'],
['Piauí – Teresina', :'Piauí – Teresina'],
['Roraima – Boa Vista', :'Roraima – Boa Vista'],
['Rondônia – Porto Velho', :'Rondônia – Porto Velho'],
['Rio de Janeiro – Rio de Janeiro', :'Rio de Janeiro – Rio de Janeiro'],
['Rio Grande do Norte – Natal', :'Rio Grande do Norte – Natal'],
['Rio Grande do Sul – Porto Alegre', :'Rio Grande do Sul – Porto Alegre'],
['Santa Catarina – Florianópolis', :'Santa Catarina – Florianópolis'],
['São Paulo – São Paulo', :'São Paulo – São Paulo'],
['Sergipe – Aracaju', :'Sergipe – Aracaju'],
['Tocantins – Palmas', :'Tocantins – Palmas']] %>
<%= f.input :gender, input_html: { name: 'gender', :value => params[:gender] }, label: ('Gênero:  '), :required => false, :as => :select, :collection => [['Todos', :''], ['Macho', :Macho], ['Fêmea', :Fêmea]], selected: "" %>
<%= f.input :animal, input_html: { name: 'animal', :value => params[:animal] }, label: ('Animal:  '), :required => false, :as => :select, :collection => [['Todos', :''], ['Cachorro', :Cachorro], ['Gato', :Gato], ['Outro', :Outro]], selected: "" %>
<%= f.input :castrado, input_html: { name: 'castrado', :value => params[:castrado] }, label: ('Castrado:  '), :required => false, :as => :select, :collection => [['Todos', :''], ['Sim', :Sim], ['Não', :Não]], selected: "" %>
<%= f.input :vacinado, input_html: { name: 'vacinado', :value => params[:vacinado] }, label: ('Vacinado:  '), :required => false, :as => :select, :collection => [['Todos', :''], ['Sim', :Sim], ['Não', :Não]], selected: "" %>
<%= f.input :tamanho, input_html: { name: 'tamanho', :value => params[:tamanho] }, label: ('Tamanho:  '), :required => false, :as => :select, :collection => [['Todos', :''], ['Pequeno', :Pequeno], ['Médio', :Médio], ['Grande', :Grande]], selected: ""  %>

<button type="submit" class="btn btn-success">
  <i class="fa fa-filter"></i> Filtrar
</button>
</div>
</div>
<%end %>




<div id="cards">
<div class="row tabela">

<style type="text/css">
#animal h2 {
    font-family: "proxima-nova-soft", "proxima-nova", Helvetica, Arial, sans-serif; 
}
</style>

 
<% @posts.each do |post| %>
   <div class="col-sm-6 col-md-4">


    <div class="thumbnail" id="animal">
      <h2><%= post.name.upcase %></h2>
      
      <% if post.image %>
      <%= image_tag post.image.url(:thumb), onerror: "this.src='/default_photo.png'", :id => "foto_ficha2" %>
      <% end %>

      <div id="adotar_botao">

   

      </div> 
      <h4><span class="label label-default"><%= post.animal %> | <%= post.gender %> | Porte <%= post.size %></span></h4>

      <div id="adotar_botao">

   

      </div> 

    <div class"final" id="cor">
       <legend></legend>   

          <% if user_signed_in? %>
      <h5> <%= link_to "Ver informações", post , :class => "btn btn-primary", :id => "msg" %>  
        <a id="msg" data-tooltip="tooltip" data-placement="bottom" title="Enviar mensagem" href="" data-sid="<%= current_user.id %>", data-rip="<%= post.user.id %>" class="btn btn-success start-conversation">Chat <i class="fa fa-comments"></i></a></h5>
      <% else %>
      <h5> <%= link_to "Ver informações", post , :class => "btn btn-primary", :id => "msg" %> 
        
        <a id="msg" data-tooltip="tooltip" data-placement="bottom" title="Enviar mensagem"  class="btn btn-success start-conversation" data-toggle="modal" data-target="#myModal3">Chat <i class="fa fa-comments"></i></a></h5>
      <% end %>

    </div>

</div>
 </div>
    <% end %>

 
</div>

<% if @posts.count == 0 %>
  <h4 id="entrar2"><strong>Nenhum animal encontrado.</strong></h4>
<% end %>

</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bem vindo!</h4>
      </div>
      <div class="modal-body">
        <h4>Você precisa primeiro se <%= link_to "Cadastrar", cadastrar_path%> ou <%= link_to "Logar", entrar_path%> para usar o Chat.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>




</div>