
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64755509-1', 'auto');
  ga('send', 'pageview');

</script>

<style>
#ficarmenor323 {
  background-image:url('<%= @post.image.url %>');
  background-repeat: no-repeat;

    background-position: 0% 988%;

}

</style>

<div class="col-md-3">

<div class="jumbotron" data-spy="affix" id="salve2">
<h6 style="color=#4
}44; padding:0; padding-left:3px;"><strong>PÁGINAS</strong></h6>
<button onclick="location.href='<%= adotar_path %>';" type="submit" class="btn btn-block btn-default active" id="msg2"><i class="fa fa-paw" id="i"></i> Adotar</button>
<button onclick="location.href='<%= losts_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-search" id="i3"></i> Animais perdidos</button>
<button onclick="location.href='<%= new_post_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-tag " id="i2"></i> Doar</button>


<% if user_signed_in? %>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>CONTA</strong></h6>
<button onclick="location.href='<%= id_path(current_user.profile_name) %>';" type="submit" class="btn btn-block btn-default" id="msg2"><i class="fa fa-user" id="i"></i> Meu perfil</button>
<button onclick="location.href='#';" type="submit" class="btn btn-block btn-default" id="msg2"  data-toggle="modal" data-target="#myModal2"><i class="fa fa-envelope" id="i22"></i> Mensagens</button>
<button onclick="location.href='<%= edit_user_registration_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-cog" id="i"></i> Editar minha conta</button>
<button onclick="location.href='<%= sair_path %>';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-sign-out" id="i3"></i> Sair</button>

<h6>Logado como <%= current_user.name %></h6>


<% else %>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>ENTRAR</strong></h6>

<div id="ladoentrar2">
  <div class="actions">
    <button onclick="location.href='<%= entrar_path %>';" type="submit" class="btn btn-success btn-block btn-primary" id="msg">Entrar</button>
  </div>
 <h6><a href="/cadastrar">Criar uma conta</a></h6>
</div>


<div id="ladoentrar">
<%= simple_form_for(:user, :defaults => { :input_html => { :class => "form-control" } }, as: resource_name, url: session_path(:user)) do |f| %>
 

 <%= f.input :email, label: false, :placeholder => "seu@email.com" %>
 <%= f.input :password, label: false, :placeholder => "senha" %>
  <div class="actions">
    <button type="submit" class="btn btn-success btn-block btn-primary" id="msg">Entrar</button>
  </div>
 <h6><a href="/cadastrar">Criar uma conta</a></h6>
</div>

<% end %>
<% end %>

<h6 style="text-align:center;"><a href="/pages/ajuda">Dúvidas</a> | <a href="/pages/contato">Contato</a> | <a href="/pages/termos2">Termos</a></h6>


</div>

</div>


<div class="col-md-5">
<div class="jumbotron" id="ficarmenor32">
</br>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
          <thead>
       </br >
      </thead>
      <tbody>
      <tr>
      <td width="55%" align="left"> 

      <% if @post.image %>
      <%= image_tag @post.image.url(:thumb)%>
      <% end %> 

      </td>

      <td align="left">
    <legend id="riscosempadd"><h2><%= @post.name %>, <%= @post.age %>
    

    </h2></legend>
    <h5><strong><i class="fa fa-user fa-lg" id="i22"></i></strong> <%= link_to @post.user.name, id_path(@post.user.profile_name) %></h5>
    <h5><strong><i class="fa fa-globe fa-lg" id="i22"></i> </strong><%= @post.cidade %></h5>
    <h5><strong><i class="fa fa-camera" id="i"></i> </strong><%= post_foto @post %></h5>
     <% if user_signed_in? %>
        <div class="footer">
          <span class="admin">
          <% if current_user.profile_name.to_str == @post.user.profile_name.to_str %>
            <h6><%= link_to ' Editar', edit_post_path(@post), :class => "btn btn-xs btn-primary",  :id => "msg" %>  <%= link_to ' Apagar', @post, method: :delete, data: { confirm: 'Você tem certeza de que quer apagar? Não tem como desfazer depois!' }, :class => "btn btn-xs btn-danger",  :id => "msg" %></h6>
          <% else %>
          <% end %>
          </span>
        </div> 
      <% else %>
      <% end %>
    </td>
      </tr>
    </tbody>
    </table>
    


<div class="row" style="padding:0; margin:0;">
  <div style="padding:10px;" id="entrarfb" class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  <h5 id="entrar" style="margin:0;padding:5px;">Compartilhe com seus amigos. <i class="fa fa-hand-o-up"></i></h5>
<div class="col-md-5" style="padding:0;padding-right:5px;">

  <table class="table">
      <thead>
 </br >
      </thead>
      <tbody>
         <tr class="">
          <th scope="row">Sobre:</th>
        </tr>
        <tr class="active">
        <td><%= @post.about %></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col-md-7" style="padding:0;">
<table class="table">
      <thead>
 </br >
      </thead>
      <tbody>
        <tr class="">
          <th scope="row">Informações:</th>
          <td scope="row"></td>
        </tr>
         <tr class="active">
          <th scope="row">Animal:</th>
          <td><%= @post.animal %></td>
        </tr>
        <tr class="active">
          <th scope="row">Gênero:</th>
          <td><%= @post.gender %></td>
        </tr>
        <tr class="active">
          <th scope="row">Tamanho:</th>
          <td><%= @post.size %></td>
        </tr>
         <tr class="active">
          <th scope="row">Idade:</th>
          <td><%= @post.age %></td>
        </tr>
        <tr class="active">
          <th scope="row">Castrado:</th>
          <td><%= @post.castrado %></td>
        </tr>
        <tr class="active">  
          <th scope="row">Vacinado:</th>
          <td><%= @post.vacinado %></td>
        </tr>
       
        
        

      </tbody>
    </table>
</div>
</div>


<div id="botaofinal">
<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Quero adotar <i class="fa fa-heart"></i></button>
<%= link_to 'Voltar', posts_path, :class => "btn btn-default btn-block"  %>
     
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contatos para adotar <strong><%=  @post.name %></strong> :</h4>
      </div>
      <div class="modal-body">
      <h5><strong>Dono:</strong> <%= @post.user.name %></h5>
      <h5><strong>Cidade:</strong> <%= @post.cidade %></h5>
      <legend></legend>
      <h5><strong>Telefone 1:</strong> <a href="tel:<%= @post.telefone %>"><%= @post.telefone %></a></h5>
      <h5><strong>Telefone 2:</strong> <a href="tel:<%= @post.celular %>"><%= @post.celular %></a></h5>
      <h5><strong>E-mail:</strong> <a href="mailto:<%= @post.user.email %>"><%= @post.user.email %></a></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

  </div>
<div class="col-md-4">
  <div class="jumbotron" id="ficarmenor4">
        <h4 id="entrar3"><i class="fa fa-comments fa-lg"></i> COMENTÁRIOS</h4>
    <div class="fb-comments" data-href="<%= request.url %>" data-width="288" data-numposts="5"></div>
  </div>
   </div>
