<!DOCTYPE html>
<html>
<head>

  <title>Encontrepet.com - Adote!</title>
  
 <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <style type="text/css">.tk-proxima-nova-soft{font-family:"proxima-nova-soft",sans-serif;}</style>
  <link rel="stylesheet" href="https://use.typekit.net/c/13b6dc/1w;proxima-nova-soft,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,S2w:R:n4,S2x:R:n5,S2z:R:n7/d?3bb2a6e53c9684ffdc9a9afe1d5b2a6262b4be0bfc491ced4e51babf61457bcd45c064abb11f4930474791aa81bb8f532e58b4705dd9037fa122e4d3ebe3044ef7307a3f87027dba40c9d27f6e9e9d582ae392d45835bb" media="all">
  <script type="text/javascript">
  $(document).ready(function() {
    $('body').tooltip({
        selector: "[data-tooltip=tooltip]",
        container: "body"
    });
});
  </script>
  
  <script>
  $(document).ready(function(){
  $('#button').button();

  $('#button').click(function() {
    $(this).button('loading');
  });  
});
</script>
<%= csrf_meta_tags %>
  <meta name="google-site-verification" content="9951WlXeIqXb4jfUZJTGN68CVX_WwxfGemZPRu71NJY" />

<meta property="og:image" content="<%= og_image_path %>" />

<meta property="og:description" content="Quer adotar um novo amigo? Ou então ajudar um animal abandonado encontrar uma nova família? Encontrepet.com ajuda você! Uma simples rede social de adoção de animais." />

<meta property="og:url"content="http://encontrepet.com" />

<meta property="og:title" content="Encontrepet.com" />



</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=485078338315778";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64755509-1', 'auto');
  ga('send', 'pageview');

</script>


<nav class="navbar navbar-default navbar-fixed-top">

      <div class="container-fluid">
        
        <div class="navbar-header">
          <a href="<%= adotar_path %>" class="navbar-brand">
            <img src="/encontrepetlogo2.png" id="logo">
          </a>
         
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         
          </button>
          
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <div id="botaonave">
          <ul class="nav navbar-nav navbar-left" id="procurar2">
            
        

              

              <%= simple_form_for :post, :method => 'get', :url => "/", :html => {:class => 'input-group'} do |f| %>
              <%= f.input :starts_with, input_html: { name: 'starts_with', :value => params[:starts_with], :id => 'treta'}, label: false, :required => false, :placeholder => "Pesquisar um animal pelo nome"%>
               <span class="input-group-btn">
               <button type="submit" class="btn btn-primary sharp form-inline" id="procurar">
                <i class="fa fa-search"></i>
            </button>
             </span>

              <% end %>


          
          </ul>
            <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
             
                  <% if request.env['PATH_INFO'] == adotar_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button>
                  <% elsif request.env['PATH_INFO'] == posts_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% elsif request.env['PATH_INFO'] == "/" %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% elsif request.env['PATH_INFO'] == losts_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% else %>
                    <button type="button" class="btn btn-primary sharp" onclick="location.href='<%= adotar_path %>';">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% end %>

             
           </span>
             <button class="btn btn-info navbar-btn" onclick="location.href='<%= id_path(current_user.profile_name) %>';">Meus animais <span class="badge"><%= current_user.posts.count %></span></button>
               <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog fa-lg"></i>
               </button>
               
                <ul class="dropdown-menu">
                  <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-cog" id="i"></i> Editar conta</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="<%= sair_path %>"><i class="fa fa-sign-out" id="i3"></i> Sair</a></li>
                </ul>
              

            <% else %>
            
            <strong><a href="<%= entrar_path %>">Entrar</a></strong>
               <%= link_to 'Cadastrar', cadastrar_path, :class => "btn btn-success navbar-btn sharp", :style => "margin-left:10px;" %>
               
            <% end %>
            </div>
          </ul>
        </div>

              
      </div>
    </nav>




<% flash.each do |type, message| %>    
<div class="alert <%= flash_class(type.to_s) %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= message %></strong>
</div>
<% end %> 



    <div class="container">

    <script type="text/javascript">
      function toggleClock() { 

            // get the clock 
        var myClock = document.getElementById('salve2');

        // get the current value of the clock's display property 
        var displaySetting = myClock.style.display;

        // also get the clock button, so we can change what it says 
        var clockButton = document.getElementById('clockButton');
            
        // now toggle the clock and the button text, depending on current state
        if (displaySetting == 'block') { 
          // clock is visible. hide it
          myClock.style.display = 'none';
          // change button text
          clockButton.innerHTML = '<i class="fa fa-bars fa-lg"></i>';
        }
        else { 
          // clock is hidden. show it 
          myClock.style.display = 'block';
          // change button text
          clockButton.innerHTML = '<i class="fa fa-arrow-left fa-lg"></i>';
        }

      }
    </script>

    <button data-spy="affix" class="btn btn-primary btn-lg" onclick="toggleClock()" id="clockButton"><i class="fa fa-bars fa-lg"></i></button>
    
    <%= yield %>  
   

    
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
<footer>


      <a id="salvar" href="<%= adotar_path %>"><img src="/rodape.png"></a>
      <h5><a href="<%= cadastrar_path %>">Cadastre-se</a> • <a href="<%= adotar_path %>">Animais para adoção</a> ∙ <a href="<%= losts_path %>">Animais perdidos</a> ∙ <a href="/pages/ajuda">Como funciona o site?</a> ∙ <a href="https://www.facebook.com/118543718481622">Página no Facebook</a></h5>
      <h5><a href="/pages/termos2">Termos de Uso</a> ∙ <a href="/pages/termos">Política de Privacidade</a></h5>
      <h5>© 2015 <a href="http://www.facebook.com/118543718481622">Encontrepet.com</a></h5>


      <%#= <a href="http://www.freepik.com/free-vector/dog-cartoon-vector-design_718544.htm">Cartoons Designed by Freepik</a> %>
      </br >
      <div class="fb-like" data-href="https://www.facebook.com/118543718481622" data-width="335" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </footer>

