<!DOCTYPE html>
<html>
<head>

  <title>Encontre Pet</title>
  
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">

      <div class="container-fluid">
        
        <div class="navbar-header">
          <a href="<%= adotar_path %>" class="navbar-brand">
            <img src="/encontrepetlogo2.png" id="logo">
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         
          </button>
          
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <div id="botaonave">
          <ul class="nav navbar-nav navbar-left" id="procurar2">
            
        

              

              <%= simple_form_for :post, :method => 'get', :url => "/", :html => {:class => 'input-group'} do |f| %>
              <%= f.input :starts_with, input_html: { name: 'starts_with', :value => params[:starts_with], :id => 'treta'}, label: false, :required => false, :placeholder => "Pesquisar um animal pelo nome"%>
               <span class="input-group-btn">
               <button type="submit" class="btn btn-primary sharp form-inline" id="procurar">
                <i class="fa fa-search"></i>
            </button>
             </span>
              <% end %>

          
          </ul>
            <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
                  <% if request.env['PATH_INFO'] == adotar_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button>
                  <% elsif request.env['PATH_INFO'] == posts_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% elsif request.env['PATH_INFO'] == "/" %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% elsif request.env['PATH_INFO'] == losts_path %>
                    <button type="button" class="btn btn-primary sharp" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% else %>
                    <button type="button" class="btn btn-primary sharp" onclick="location.href='<%= adotar_path %>';">
                    <i class="fa fa-comments fa-lg"></i>
                    </button> 
                  <% end %>

             
           </span>
             <button class="btn btn-info navbar-btn" onclick="location.href='<%= id_path(current_user.profile_name) %>';">Meus animais <span class="badge"><%= current_user.posts.count %></span></button>
               <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog fa-lg"></i>
               </button>
               
                <ul class="dropdown-menu">
                  <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-cog"></i> Editar conta</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="<%= sair_path %>"><i class="fa fa-sign-out"></i> Sair</a></li>
                </ul>
              

            <% else %>
            <button class="btn btn-primary navbar-btn sharp" onclick="location.href='<%= entrar_path %>';">Entrar</button>
               
               <%= link_to 'Cadastrar', cadastrar_path, :class => "btn btn-success navbar-btn sharp" %>
               
            <% end %>
            </div>
          </ul>
        </div>

              
      </div>
    </nav>







<% flash.each do |type, message| %>    
<div class="alert <%= flash_class(type.to_s) %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= message %></strong>
</div>
<% end %> 
      

    <div class="container">

    <%= yield %>
    <footer>
      <h5>© 2015 <a href="http://www.facebook.com/rafael.benaion">Rafael Benaion</a></h5>
      <%#= <a href="http://www.freepik.com/free-vector/dog-cartoon-vector-design_718544.htm">Cartoons Designed by Freepik</a> %>
    </footer>
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
